spring:
  application:
    name: animal-service
  datasource:
    url: jdbc:h2:mem:db-animais
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    #defer-datasource-initialization: true #Pra usar o data.sql
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console